doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Todo App

        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet", href="styles/styles.min.css")

        script(src="http://code.jquery.com/jquery-2.1.4.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
        script(src="https://fb.me/react-0.13.3.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/react-cookie/0.3.4/react-cookie.min.js")
    body
        include navbar.jade

        div#app
        script(src="scripts/app.min.js")