mixin modal(title, close)
    div.modal(id!=attributes.id, role="dialog")
        div.modal-dialog(role="document", class!= attributes.class)
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal"): span &times;
                    h4.modal-title= title
    
                div.modal-body
                    block
    
                div.modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal")= close

mixin tip
    div.alert.alert-info(id!=attributes.id)
        block


+modal("Help", "Got it")#help-modal
    +tip Use input field to add new tasks to the list
    +tip Hover over elements to toggle their methods
    +tip Remove button completely removes item from the list
    +tip Insert button brings the input field to the item, which allows you to add sub-tasks to it. Click on the list's title to bring the input form to the root of the list
    +tip Expand/Collapse button toggles sub-tasks that haven't yet been completed. It also shows its quantity
    +tip Check/Uncheck button toggles the state of the task. Completed and pending items are stored in their respective lists
    +tip#last-tip Show done/Hide done button toggles sub-tasks that have been completed. It also shows its quantity. It is only shown if that item has completed tasks

+modal("The following technologies were used", "Close").modal-lg#about-modal
    div.row
        div.col-md-6
            a.thumbnail(href="https://facebook.github.io/react/")
                img(src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/57/React.js_logo.svg/2000px-React.js_logo.svg.png")
        div.col-md-6
            a.thumbnail(href="http://getbootstrap.com/")
                img(src="https://cdn.evbuc.com/eventlogos/12632461/screenshot20140131at3.32.00pm.png")