#root
    width: 75%
    min-width: 400px
    margin: 0 auto

li.list-group-item
    overflow: hidden

.list-group
    margin: 0

.list-group-item
    padding: 0

.my-item-body
    padding: 10px 15px

.my-controls
    position: absolute
    right: -1px
    top: -35px

.my-control-first
    border-top-left-radius: 0
    border-bottom-left-radius: 4px

.my-control-last
    border-radius: 0